@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    display: grid;
    justify-items: center;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

#content {
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 700px;
}

button {
    font-family: "M PLUS Rounded 1c", sans-serif;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    font-size: 1.2rem;
    justify-content: center;
    line-height: 1;
    padding: .7rem .7rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
}

button:hover {
    box-shadow: #121212 0 0 0 2px, transparent 0 0 0 0;
}

.borger {
    height: 100px;
    width: 100px;
}

ul {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 15px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-heading {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 30px;
}

.main-description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0 1rem;
}

.main-schedule-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.main-schedule-div>p {
    padding-top: .5rem;
    font-size: 15px;
    font-weight: 600;
}

.review-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    margin: 1rem 0 0 1rem;

}

.review-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}